@use '../../themes/default' as *;

div.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: $layout-content-width;
  width: 100%;

  // Terminal component styling
  .Terminal {
    width: 100%;
    max-width: 75vw;
  }
}
