@import '../../themes/default';

div.Header {
  @include linear-gradient($color-blue-dark 5%, transparent 100%);
  align-items: center;
  border-bottom: 1px solid $color-white;
  display: flex;
  justify-content: flex-end;
  padding: 0 $space-large;
}
